---
import ThemeIcon from './ThemeIcon.astro'
interface Props {
  showHomeLink?: boolean
}

const { showHomeLink = false }: Props = Astro.props
---

<header class="flex items-center justify-between">
  <div class="flex items-center gap-2">
    {
      showHomeLink && (
        <>
          <a href="/" class="text-sm text-muted-foreground hover:text-primary">
            Home
          </a>
          <span class="text-xs text-muted-foreground">/</span>
        </>
      )
    }
    <a href="mailto:me@divn.dev" class="text-sm text-muted-foreground hover:text-primary">me@divn.dev</a>
  </div>

  <ThemeIcon />
</header>
