<main>
  <h1 class="text-3xl">Hi, I`m Dinh 👋</h1>
  <p class="text-sm text-foreground/80 mt-8 leading-7">
    Hi there, I am a <span class="text-primary">web developer</span> who began learning programming in 2019. Currently,
    I am working on <span class="text-primary">Laravel, JS Edge runtime, and React</span>. In my free time, I am an
    indie hacker who is building
    <!--  -->
    <a href="https://resolvex.ai" class="text-primary">ResolveX.ai</a>
     (open-source software).
  </p>

  <div class="flex items-center gap-4 mt-8">
    <a href="mailto:me@divn.dev" class="text-sm text-muted-foreground hover:text-primary">Email</a>
    <a href="https://github.com/divndev" class="text-sm text-muted-foreground hover:text-primary">Github</a>
    <a href="https://x.com/divndev" class="text-sm text-muted-foreground hover:text-primary">Twitter</a>
  </div>
</main>
